h2 {
  display: block;
  text-align: center;
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 40px;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.row1 {
  padding: 2rem 0;
}

.body-container {
  display: block;
  /* max-width: 290px; */
  padding: 0 1rem;
  margin: 0 auto;
}

.font-red {
  color: #e82430;
}

hr {
  padding: 0;
  margin: 0 0 20px;
  border: 1px solid #707070;
  background-color: #707070;
  width: 100%;
  display: block;
}

/* Dropdown Button */
.dropbtn {
  color: #000;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
  font-size: 26px;
  font-weight: 600;
  background-color: #fff;
  transition-duration: 0.4s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
/* .dropbtn:focus, */
.dropbtn:active {
  font-weight: 600;
  color: #ea0029;
}

.dropbtn::after {
  content: "▲";
}

.dropbtn:hover::after {
  content: "▼";
}

/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  display: inline-block;
  width: 100%;
  text-align: start;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 600;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
  padding: 5px 0 5px 10px;
  transition-duration: 0.4s;
}

.dropdown-content a:hover {
  color: #ea0029;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

@media only screen and (min-width: 650px) {
  .body-container {
    display: block;
    max-width: 600px;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .body-container {
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .body-container {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1400px) {
  .body-container {
    max-width: 1100px;
  }
}
